/* reset.css */

body {
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
    line-height: normal;
    font-family: inherit;
    margin: unset;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Remove default borders for form inputs, etc. */
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiplel],
  textarea,
  select,
  button {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
  
  input:focus-visible,
  [multiple]:focus-visible,
  textarea:focus-visible,
  select:focus-visible {
    outline: none;
  }
  